{{sitecode}}-{{mdf_subloc}}-cs-1

 crypto key generate rsa general-keys modulus 2048

no service pad
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
no ip finger

!
hostname {{sitecode}}-{{mdf_subloc}}-cs-1
!
switch 1 provision ws-c2960x-48lps-l
switch 2 provision ws-c2960x-48lps-l
switch 1 priority 10
!
logging discriminator DOT1X msg-body drops Auth|DOT1X|dot1x|mab|'mab'
no logging queue-limit
logging buffered discriminator DOT1X
no logging console
logging monitor informational
enable secret 5 $1$hOHB$6elYawIuV5vKVx3Q0a0Fj.
!
username ise-probe privilege 0 password 7 09657D2C0917471058

username netadm privilege 15 secret 5 $1$sQ2n$P6k3ew4E5Y/r/rfXhjyOP.

!
aaa new-model
!
aaa group server radius ise-group
 server 10.70.112.20 auth-port 1812 acct-port 1813
 server 159.49.153.124 auth-port 1812 acct-port 1813
 server 10.70.112.21 auth-port 1812 acct-port 1813
 server 159.49.153.23 auth-port 1812 acct-port 1813
 load-balance method least-outstanding
!
aaa group server tacacs+ ACS
 server name se4vvacs01
 server name igqvvacs01
 ip tacacs source-interface Vlan990
!
aaa authentication password-prompt "CiscoSecure Unavailable - Password: "
aaa authentication username-prompt "CiscoSecure Unavailable - UserName: "
aaa authentication login default group ACS local
aaa authentication login console local
aaa authentication enable default group ACS enable
aaa authorization exec default group ACS local 
aaa authorization commands 0 default local group ACS 
aaa authorization commands 1 default local group ACS 
aaa authorization commands 15 default local group ACS 
aaa accounting update newinfo
aaa accounting exec default start-stop broadcast group ACS
aaa accounting commands 1 default start-stop broadcast group ACS
aaa accounting commands 15 default start-stop broadcast group ACS
!
aaa authentication dot1x default group ise-group
aaa authorization network default group ise-group
aaa accounting dot1x default start-stop group ise-group
!
aaa server radius dynamic-author
 client 10.70.112.20 server-key 7 01305737785B155C02795C2C
 client 159.49.153.124 server-key 7 143443382F543978071D2110
 client 10.70.112.21 server-key 7 01305737785B155C02795C2C
 client 159.49.153.23 server-key 7 143443382F543978071D2110
!
aaa session-id common
clock timezone PST -8
clock summer-time PDT recurring
authentication mac-move permit
ip arp proxy disable
no ip gratuitous-arps
!
ip routing
!
ip domain-list alaskaair.com
ip domain-name alaskaair.com
ip name-server 159.49.42.254
ip name-server 10.70.112.254
ip device tracking probe auto-source fallback 0.0.0.1 255.255.255.192
ip device tracking probe delay 10
ip device tracking
vtp mode transparent
vtp domain {{sitecode}}
!
epm logging
!
dot1x system-auth-control
!
spanning-tree mode rapid-pvst
spanning-tree portfast bpduguard default
no spanning-tree optimize bpdu transmission
spanning-tree extend system-id
spanning-tree vlan 1-991,995,997-4094 priority 4096
spanning-tree vlan 992-994,996 priority 40960
!
vlan internal allocation policy ascending
!
vlan 10
 name Data
!
vlan 20
 name Voice
!
vlan 30
 name Wireless-AGMobile
!
vlan 31
 name Wireless-Airgroup
!
vlan 32
 name Wireless-IAmAlaska
!
vlan 33
 name Wireless-iFlyAlaska
!
vlan 50
 name Kiosk
!
vlan 60
 name MSR
!
vlan 990
 name Network-Mgmt
!
vlan 991
 name Network-Transit
!
vlan 992
 name Common-Use
!
vlan 993
 name Broadband-A
!
vlan 994
 name Broadband-B
!
vlan 995
 name DX-Transit
!
vlan 996
 name iFlyAlaska-Inet-A
!
vlan 999
 name Disabled
!
int gi1/0/1
 description {{sitecode}}-{{mdf_subloc}}-pdu-1
 switchport mode access
 switchport access vlan 990
 switchport nonegotiate
 spanning-tree portfast

int gi2/0/1
 description {{sitecode}}-{{mdf_subloc}}-pdu-2
 switchport mode access
 switchport access vlan 990
 switchport nonegotiate
 spanning-tree portfast

int gi1/0/2
 description {{sitecode}}-{{mdf_subloc}}-wr-1 Gi0/0/1
 switchport mode trunk
 switchport trunk allowed vlan 990,991,993,994,995
 switchport trunk native vlan 999

int gi2/0/2
 description {{sitecode}}-{{mdf_subloc}}-wr-2 Gi0/0/1
 switchport mode trunk
 switchport trunk allowed vlan 990,991,993,994,995
 switchport trunk native vlan 999

int po5
 description Broadband LAG
 switchport mode access
 switchport access vlan 993
 switchport nonegotiate
 no cdp enable
 spanning-tree bpdufilter enable
 shutdown

int gi1/0/3
 description Broadband PHY / NetWolves Support 800-676-8870
 switchport mode access
 switchport access vlan 993
 switchport nonegotiate
 no cdp enable
 spanning-tree bpdufilter enable

int gi2/0/3
 description Broadband PHY / NetWolves Support 800-676-8870
 switchport mode access
 switchport access vlan 993
 switchport nonegotiate
 no cdp enable

int gi1/0/4
 description {{sitecode}}-{{mdf_subloc}}-obm-1 Eth0
 switchport mode access
 switchport access vlan 990
 switchport nonegotiate
 spanning-tree portfast

int gi2/0/4
 description {{sitecode}}-{{mdf_subloc}}-obm-1 Eth1
 switchport mode access
 switchport access vlan 990
 switchport nonegotiate
 spanning-tree portfast

int gi1/0/5
 description iFlyAlaska Inet-A PHY / NetWolves Support 800-676-8870
 switchport mode access
 switchport access vlan 996
 switchport nonegotiate
 no cdp enable
 spanning-tree bpdufilter enable

int gi2/0/5
 description iFlyAlaska Inet-A PHY Alternate Port / NetWolves Support 800-676-8870
 switchport mode access
 switchport access vlan 996
 switchport nonegotiate
 no cdp enable
 shutdown

int gi1/0/6
 description {{sitecode}}-{{mdf_subloc}}-fw-1a Dedicated Mgmt
 switchport mode access
 switchport access vlan 990
 switchport nonegotiate
 spanning-tree portfast

int gi2/0/6
 description {{sitecode}}-{{mdf_subloc}}-fw-1b Dedicated Mgmt
 switchport mode access
 switchport access vlan 990
 switchport nonegotiate
 spanning-tree portfast

int po1
 description {{sitecode}}-{{mdf_subloc}}-fw-1a inner-lag
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30,31,32,50,60,991
 switchport nonegotiate

int gi1/0/9
 description {{sitecode}}-{{mdf_subloc}}-fw-1a Port1
 channel-group 1 mode active
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30,31,32,50,60,991
 switchport nonegotiate

int gi2/0/9
 description {{sitecode}}-{{mdf_subloc}}-fw-1a Port2
 channel-group 1 mode active
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30,31,32,50,60,991
 switchport nonegotiate

int po3
 description {{sitecode}}-{{mdf_subloc}}-fw-1b inner-lag
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30,31,32,50,60,991
 switchport nonegotiate

int gi1/0/10
 description {{sitecode}}-{{mdf_subloc}}-fw-1b Port1
 channel-group 3 mode active
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30,31,32,50,60,991
 switchport nonegotiate

int gi2/0/10
 description {{sitecode}}-{{mdf_subloc}}-fw-1b Port2
 channel-group 3 mode active
 switchport mode trunk
 switchport trunk allowed vlan 10,20,30,31,32,50,60,991
 switchport nonegotiate

int po2
 description {{sitecode}}-{{mdf_subloc}}-fw-1a outer-lag
 switchport mode trunk
 switchport trunk allowed vlan 33,991,992,995,996
 switchport nonegotiate

int gi1/0/11
 description {{sitecode}}-{{mdf_subloc}}-fw-1a Port3
 channel-group 2 mode active
 switchport mode trunk
 switchport trunk allowed vlan 33,991,992,995,996
 switchport nonegotiate

int gi2/0/11
 description {{sitecode}}-{{mdf_subloc}}-fw-1a Port4
 channel-group 2 mode active
 switchport mode trunk
 switchport trunk allowed vlan 33,991,992,995,996
 switchport nonegotiate

int po4
 description {{sitecode}}-{{mdf_subloc}}-fw-1b outer-lag
 switchport mode trunk
 switchport trunk allowed vlan 33,991,992,995,996
 switchport nonegotiate

int gi1/0/12
 description {{sitecode}}-{{mdf_subloc}}-fw-1b Port3
 channel-group 4 mode active
 switchport mode trunk
 switchport trunk allowed vlan 33,991,992,995,996
 switchport nonegotiate

int gi2/0/12
 description {{sitecode}}-{{mdf_subloc}}-fw-1b Port4
 channel-group 4 mode active
 switchport mode trunk
 switchport trunk allowed vlan 33,991,992,995,996
 switchport nonegotiate

int gi1/0/8
 description {{sitecode}}-{{mdf_subloc}}-fw-1a Mgmt
 switchport mode access
 switchport access vlan 990
 switchport nonegotiate
 spanning-tree portfast

int gi2/0/8
 description {{sitecode}}-{{mdf_subloc}}-fw-1b Mgmt
 switchport mode access
 switchport access vlan 990
 switchport nonegotiate
 spanning-tree portfast

int po10
 description Common use LAG
 switchport mode access
 switchport access vlan 992
 switchport nonegotiate
 no cdp enable
 spanning-tree bpdufilter enable
 shutdown

int gi1/0/7
 description Common use PHY (RJ45)
 !channel-group 10 mode active
 switchport mode access
 switchport access vlan 992
 switchport nonegotiate
 spanning-tree bpdufilter enable
 no cdp enable

int gi2/0/7
 description Common use PHY (RJ45)
 !channel-group 10 mode active
 switchport mode access
 switchport access vlan 992
 switchport nonegotiate
 no cdp enable

int gi1/0/52
 description Common use PHY (SFP)
 !channel-group 10 mode active
 switchport mode access
 switchport access vlan 992
 switchport nonegotiate
 spanning-tree bpdufilter enable
 no cdp enable

int gi2/0/52
 description Common use PHY (SFP)
 !channel-group 10 mode active
 switchport mode access
 switchport access vlan 992
 switchport nonegotiate
 no cdp enable

int po12
 description {{sitecode}}-{{as1_subloc}}-as-1
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int gi1/0/49
 description {{sitecode}}-{{as1_subloc}}-as-1-1
 !channel-group 12 mode active
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int gi2/0/49
 description {{sitecode}}-{{as1_subloc}}-as-1-2
 !channel-group 12 mode active
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int po13
 description {{sitecode}}-{{as2_subloc}}-as-2
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int gi1/0/50
 description {{sitecode}}-{{as1_subloc}}-as-2-1
 !channel-group 13 mode active
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int gi2/0/50
 description {{sitecode}}-{{as1_subloc}}-as-2-2
 !channel-group 13 mode active
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int po14
 description {{sitecode}}-{{as3_subloc}}-as-3
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int gi1/0/51
 description {{sitecode}}-{{as1_subloc}}-as-3-1
 !channel-group 14 mode active
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int gi2/0/51
 description {{sitecode}}-{{as1_subloc}}-as-3-2
 !channel-group 14 mode active
 switchport mode trunk
 switchport trunk allowed vlan 990,10,20,30,31,32,33,50,60
 switchport trunk native vlan 999

int gi1/0/13
 description {{sitecode}} Station Server NIC A
 switchport mode access
 switchport access vlan 10
 switchport nonegotiate
 ip access-group ACL-ISE-DEFAULT in
 authentication event fail action next-method
 authentication event server dead action reinitialize vlan 10
 authentication event server alive action reinitialize
 authentication host-mode multi-auth
 authentication open
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 logging event link-status

int gi2/0/13
 description {{sitecode}} Station Server NIC B
 switchport mode access
 switchport access vlan 10
 switchport nonegotiate
 ip access-group ACL-ISE-DEFAULT in
 authentication event fail action next-method
 authentication event server dead action reinitialize vlan 10
 authentication event server alive action reinitialize
 authentication host-mode multi-auth
 authentication open
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 logging event link-status

int gi1/0/14
 description {{sitecode}} Station Server DRAC A
 switchport mode access
 switchport access vlan 10
 switchport nonegotiate
 ip access-group ACL-ISE-DEFAULT in
 authentication event fail action next-method
 authentication event server dead action reinitialize vlan 10
 authentication event server alive action reinitialize
 authentication host-mode multi-auth
 authentication open
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 logging event link-status

int gi2/0/14
 description {{sitecode}} Station Server DRAC B
 switchport mode access
 switchport access vlan 10
 switchport nonegotiate
 ip access-group ACL-ISE-DEFAULT in
 authentication event fail action next-method
 authentication event server dead action reinitialize vlan 10
 authentication event server alive action reinitialize
 authentication host-mode multi-auth
 authentication open
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 logging event link-status

int gi1/0/15
 description {{sitecode}} Station Server NIC B
 switchport mode access
 switchport access vlan 10
 switchport nonegotiate
 ip access-group ACL-ISE-DEFAULT in
 authentication event fail action next-method
 authentication event server dead action reinitialize vlan 10
 authentication event server alive action reinitialize
 authentication host-mode multi-auth
 authentication open
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 logging event link-status

int gi2/0/15
 description {{sitecode}} Station Server NIC B
 switchport mode access
 switchport access vlan 10
 switchport nonegotiate
 ip access-group ACL-ISE-DEFAULT in
 authentication event fail action next-method
 authentication event server dead action reinitialize vlan 10
 authentication event server alive action reinitialize
 authentication host-mode multi-auth
 authentication open
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 logging event link-status

int vlan10
 shutdown
 description Data (Bypass)
 ip address {{station_net_24_prefix_1}}.1 255.255.252.0
 !ip address {{legacy_gateway_addr_1}} {{legacy_subnet_netmask_1}} secondary
 !ip address {{legacy_gateway_addr_2}} {{legacy_subnet_netmask_2}} secondary
 !ip address {{legacy_gateway_addr_3}} {{legacy_subnet_netmask_3}} secondary
 ip helper-address 159.49.42.254
 ip helper-address 10.70.112.254
 ip helper-address 159.49.153.23
ip helper-address 10.23.131.6
ip helper-address 10.33.131.6
 ip helper-address 10.70.112.20
 ip helper-address 10.33.130.30
 ip helper-address 10.23.130.30
 ip access-group MANAGEMENT-DENY-80 in

int vlan20
 shutdown
 description Voice (Bypass)
 ip address {{station_net_24_prefix_5}}.1 255.255.254.0
 ip helper-address 159.49.42.254
 ip helper-address 10.70.112.254
 ip helper-address 159.49.153.23
 ip helper-address 10.70.112.20
ip helper-address 10.23.131.6
ip helper-address 10.33.131.6
 ip helper-address 10.33.130.30
 ip helper-address 10.33.130.33
 ip helper-address 10.33.130.55
 ip helper-address 10.23.130.30
 ip helper-address 10.23.130.33
 ip helper-address 10.23.130.55
 ip access-group MANAGEMENT-DENY-80 in

int vlan50
 shutdown
 description Kiosk (Bypass)
 ip address {{station_net_24_prefix_7}}.1 255.255.254.0
 ip helper-address 159.49.42.254
 ip helper-address 10.70.112.254
 ip helper-address 159.49.153.23
 ip helper-address 10.70.112.20
ip helper-address 10.23.131.6
ip helper-address 10.33.131.6
 ip helper-address 10.33.130.30
 ip helper-address 10.33.130.33
 ip helper-address 10.33.130.55
 ip helper-address 10.23.130.30
 ip helper-address 10.23.130.33
 ip helper-address 10.23.130.55
 ip access-group MANAGEMENT-DENY-80 in

int vlan60
 shutdown
 description MSR (Bypass)
 ip address {{station_net_24_prefix_9}}.1 255.255.254.0
 ip helper-address 159.49.42.254
 ip helper-address 10.70.112.254
 ip helper-address 159.49.153.23
 ip helper-address 10.70.112.20
ip helper-address 10.23.131.6
ip helper-address 10.33.131.6
 ip helper-address 10.33.130.30
 ip helper-address 10.33.130.33
 ip helper-address 10.33.130.55
 ip helper-address 10.23.130.30
 ip helper-address 10.23.130.33
 ip helper-address 10.23.130.55
 ip access-group MANAGEMENT-DENY-80 in

int vlan990
 description Network Management
 ip address {{station_net_24_prefix_11}}.9 255.255.255.128
 ip access-group MANAGEMENT-DENY-80 in
 no shut

int vlan991
 description Transit
 ip address {{station_net_24_prefix_11}}.150 255.255.255.240
 ip access-group MANAGEMENT-DENY-80 in
 no shut

int Vlan1
 shutdown

int FastEthernet0
 shutdown

!
!
ip route 0.0.0.0 0.0.0.0 {{station_net_24_prefix_11}}.145 name default_via_router_transit_vip
ip route {{station_net_24_prefix_1}}.0 255.255.240.0 {{station_net_24_prefix_11}}.149 name station_agg_via_inner_fw
!
!ip route {{legacy_subnet_addr_1}} {{legacy_subnet_netmask_1}} {{station_net_24_prefix_11}}.149 name legacy_1_via_inner_fw
!ip route {{legacy_subnet_addr_2}} {{legacy_subnet_netmask_2}} {{station_net_24_prefix_11}}.149 name legacy_2_via_inner_fw
!ip route {{legacy_subnet_addr_3}} {{legacy_subnet_netmask_3}} {{station_net_24_prefix_11}}.149 name legacy_3_via_inner_fw
!
ip route {{station_net_24_prefix_11}}.129 255.255.255.255 {{station_net_24_prefix_11}}.2 name wr1_lo0_via_mgmt
ip route {{station_net_24_prefix_11}}.131 255.255.255.255 {{station_net_24_prefix_11}}.3 name wr2_lo0_via_mgmt
!
!
ip http server
no ip http secure-server
ip tacacs source-interface Vlan990
!
ip access-list extended ACL-ALLOW
 remark ISE PHASE 1 DEFAULT ACL
 permit ip any any
!
ip access-list extended ACL-ISE-DEFAULT
 remark ALLOW DHCP
 permit udp any eq bootpc any eq bootps
 remark ALLOW ICMP
 permit icmp any any
 remark ALLOW DNS
 permit udp any any eq domain
 remark ALLOW ISE PSNs
 permit ip any host 10.70.112.20
 permit ip any host 10.70.112.21
 permit ip any host 159.49.153.124
 permit ip any host 159.49.153.23
 remark DENY ALL and LOG
 deny   ip any any log
!
ip access-list extended ACL-ISE-WEBAUTH
 remark ISE FAILED AUTH WEB REDIRECT
 remark Allow ISE Servers
 deny   ip any host 159.49.153.23
 deny   ip any host 10.70.112.20
 deny ip any host 10.70.112.21
 deny ip any host 159.49.153.124
 remark ALLOW DNS
 deny   udp any any eq domain
 deny   tcp any any eq domain
 remark ALLOW All to {{sitecode}} station server
 deny   ip any host {{station_net_24_prefix_1}}.10
 remark ALLOW Altiris on 80 and 443 McGee, Alderra
 deny   ip any host 159.49.40.20
 deny   ip any host 159.49.43.13
 deny   ip any host 10.80.96.105
 deny   ip any host 159.49.41.8
 remark Redirect All Other Web Traffic
 permit tcp any any eq www
 permit tcp any any eq 443
 remark ALLOW All other non-web traffic
 deny   ip any any
ip access-list extended MANAGEMENT-DENY-80
 remark Deny port 80 connections to the switch interface(s)
 deny tcp any host {{station_net_24_prefix_1}}.1 eq www
 deny tcp any host {{station_net_24_prefix_5}}.1 eq www
 deny tcp any host {{station_net_24_prefix_7}}.1 eq www
 deny tcp any host {{station_net_24_prefix_9}}.1 eq www
 deny tcp any host {{station_net_24_prefix_11}}.9 eq www
 deny tcp any host {{station_net_24_prefix_11}}.150 eq www
 !deny tcp any host {{legacy_gateway_addr_1}} eq www
 !deny tcp any host {{legacy_gateway_addr_2}} eq www
 !deny tcp any host {{legacy_gateway_addr_3}} eq www
 permit ip any any
ip radius source-interface Vlan990
!
logging facility local0
logging trap informational
logging host 10.13.3.2
logging origin-id hostname
logging source-interface Vlan990
logging host 159.49.153.31 discriminator DOT1X
logging host 159.49.153.18 discriminator DOT1X
logging host 159.49.153.22 transport udp port 20514
logging host 10.70.112.19 transport udp port 20514
logging host 10.70.112.121 transport udp port 20514
access-list 10 remark SNMP Access List
access-list 10 permit 159.49.42.34
access-list 10 permit 159.49.42.90
access-list 10 permit 159.49.42.91
access-list 10 permit 159.49.153.0 0.0.0.255
access-list 10 permit 10.70.112.124
access-list 10 permit 159.49.42.77
access-list 10 permit 10.70.112.135
access-list 10 permit 10.23.130.0 0.0.0.255
access-list 10 permit 10.33.130.0 0.0.0.255
access-list 10 deny   any log
snmp-server community N3tM0n!T0r!nG RO 10
snmp-server community n3tw0rk1 RO 10
snmp-server community network RO 10
snmp-server community AG153psn RO
snmp-server trap-source Vlan990
snmp-server source-interface informs Vlan990
snmp-server tftp-server-list 10
snmp-server location {{snmplocation}}
snmp-server contact Network Operations Center
snmp-server system-shutdown
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps tty
snmp-server enable traps mac-notification change move threshold
!
! ISE SNMP trap destinations
snmp-server host 10.70.112.20 version 2c AG153psn  mac-notification
snmp-server host 159.49.153.23 version 2c AG153psn  mac-notification
snmp-server host 10.70.112.21 version 2c AG153psn  mac-notification
snmp-server host 159.49.153.124 version 2c AG153psn  mac-notification
!
! ForeScout SNMP trap destinations
snmp-server host 10.23.130.30 version 2c N3tM0n!T0r!nG  mac-notification
snmp-server host 10.23.130.33 version 2c N3tM0n!T0r!nG mac-notification
snmp-server host 10.23.130.55 version 2c N3tM0n!T0r!nG mac-notification
snmp-server host 10.33.130.33 version 2c N3tM0n!T0r!nG  mac-notification
snmp-server host 10.33.130.30 version 2c N3tM0n!T0r!nG mac-notification
snmp-server host 10.33.130.55 version 2c N3tM0n!T0r!nG mac-notification
!
snmp-server file-transfer access-group 10 protocol tftp
!
tacacs server se4vvacs01
 address ipv4 10.33.130.5
 key 7 122F0D4F12423D567C2D0B720278702C37
 timeout 40
 single-connection
tacacs server igqvvacs01
 address ipv4 10.23.130.5
 key 7 097A4651194C26405D0A2B701A697A0C05
 timeout 40
 single-connection
!
radius-server attribute 6 on-for-login-auth
radius-server attribute 6 support-multiple
radius-server attribute 8 include-in-access-req
radius-server attribute 25 access-request include
radius-server dead-criteria time 5 tries 3
radius-server host 10.70.112.20 auth-port 1812 acct-port 1813 test username ise-probe key 7 03270A38255F321F6D3C0B20
radius-server host 159.49.153.124 auth-port 1812 acct-port 1813 test username ise-probe key 7 00274235270B18552C145E6B
radius-server host 10.70.112.21 auth-port 1812 acct-port 1813 test username ise-probe key 7 03270A38255F321F6D3C0B20
radius-server host 159.49.153.23 auth-port 1812 acct-port 1813 test username ise-probe key 7 00274235270B18552C145E6B
radius-server deadtime 30
radius-server vsa send accounting
radius-server vsa send authentication
!
banner motd ^
*****************************************************************
* NOTICE  NOTICE            S T O P              NOTICE  NOTICE *
*              THIS IS A PRIVATE NETWORK DEVICE.                *
*      AUTHORIZATION IS REQUIRED TO CONNECT TO THIS DEVICE.     *
* ACTUAL OR ATTEMPTED USE, ACCESS, EXAMINATION OR CONFIGURATION *
* CHANGE BY ANY UNAUTHORIZED PERSON WILL RESULT IN CRIMINAL AND *
*     CIVIL PROSECUTION TO THE FULLEST EXTENT OF THE LAW.       *
*                  N    O    T    I    C    E                   *
*****************************************************************
{{sitecode}}-{{mdf_subloc}}-cs-1.alaskaair.com
^
!
line con 0
 exec-timeout 30 0
 stopbits 1
!
line vty 0 4
 exec-timeout 20 0
 transport input ssh
!
line vty 5 15
 exec-timeout 20 0
 transport input ssh
!
ip ssh version 2
!
ntp server 10.70.112.7
ntp server 159.49.153.7
!
int range gi1/0/16-48
 description ISE-Enabled Access
 switchport access vlan 10
 switchport mode access
 switchport nonegotiate
 switchport voice vlan 20
 ip access-group ACL-ISE-DEFAULT in
 authentication event fail action next-method
 authentication event server dead action reinitialize vlan 10
 authentication event server alive action reinitialize
 authentication host-mode multi-auth
 authentication open
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security maximum 1 vlan voice
 switchport port-security violation restrict
 switchport port-security aging time 1
 switchport port-security aging type inactivity
 switchport nonegotiate
 logging event link-status

!
int range gi2/0/16-48
 description ISE-Enabled Access
 switchport access vlan 10
 switchport mode access
 switchport nonegotiate
 switchport voice vlan 20
 ip access-group ACL-ISE-DEFAULT in
 authentication event fail action next-method
 authentication event server dead action reinitialize vlan 10
 authentication event server alive action reinitialize
 authentication host-mode multi-auth
 authentication open
 authentication order dot1x mab
 authentication priority dot1x mab
 authentication port-control auto
 authentication periodic
 mab
 snmp trap mac-notification change added
 snmp trap mac-notification change removed
 dot1x pae authenticator
 dot1x timeout tx-period 10
 spanning-tree portfast
 spanning-tree bpduguard enable
 switchport port-security
 switchport port-security maximum 1 vlan access
 switchport port-security maximum 1 vlan voice
 switchport port-security violation restrict
 switchport port-security aging time 1
 switchport port-security aging type inactivity
 switchport nonegotiate
 logging event link-status

!


#
# Alternate access interface config for Wireless AP Uplink

description Wireless AP
switchport mode trunk
switchport trunk allowed vlan 990,30,31,32,33
switchport trunk native vlan 990
switchport nonegotiate

# End wireless AP interface config
#


#
# Alternate config for SRT Kiosk interface

conf t
!
vlan 777
name VX-Kiosks
!
description SRT Kiosk - ISE-Enabled Access
switchport access vlan 777
switchport mode access
switchport nonegotiate
switchport voice vlan 20
switchport port-security maximum 2
switchport port-security maximum 1 vlan access
switchport port-security maximum 1 vlan voice
switchport port-security violation  restrict
switchport port-security aging time 1
switchport port-security aging type inactivity
switchport port-security
ip access-group ACL-ISE-DEFAULT in
authentication event fail action next-method
authentication event server dead action reinitialize vlan 10
authentication event server alive action reinitialize
authentication host-mode multi-auth
authentication open
authentication order dot1x mab
authentication priority dot1x mab
authentication port-control auto
authentication periodic
authentication violation protect
mab
snmp trap mac-notification change added
snmp trap mac-notification change removed
dot1x pae authenticator
dot1x timeout tx-period 10
spanning-tree portfast
spanning-tree bpduguard enable
!
end

!**  Note:  Kiosks must be added to ISE whitelist. **

#End SRT interface config
#

end

