Juniper EX Series MDF Switch 1

Upgrade to Junos 15.1X53-D590 / 18.1R3-S4

**  Set temporary root password  **
set system root-authentication plain-text-password juniper1
commit

** Delete default settings **
Delete security
Delete system
Delete interfaces
commit

set groups FS-EnabledAccess
set system host-name {{sitecode}}-{{mdf_subloc}}-cs-1
set system auto-snapshot
set system domain-name alaskaair.com
set system domain-search alaskaair.com
set system time-zone America/Los_Angeles
set system arp aging-timer 5
set system authentication-order tacplus
set system authentication-order password
set system root-authentication encrypted-password "$6$pskZXLT6$fs0AgQbGXW5f2XPjeGpN8UhpTn3LTPlO4x8XPxPq23qxT9gG73HUnIgLGGLWeLJ2xbZLW9i/oA0f6MfXZjnWl."
set system name-server 159.49.42.254
set system name-server 10.70.112.254
set system tacplus-server 10.33.130.5 secret "$9$CsTHpIhMWx7VwApcyleLXUjiqTzCA0cyehcVs2aGU/CA0crlKW"
set system tacplus-server 10.33.130.5 timeout 10
set system tacplus-server 10.33.130.5 single-connection
set system tacplus-server 10.33.130.5 source-address {{station_net_24_prefix_11}}.9
set system tacplus-server 10.23.130.5 secret "$9$cj7rWXsYoaUjSrxNdVg4QF3/uOcSexNVXxUikPTQEcSex-dbY"
set system tacplus-server 10.23.130.5 timeout 10
set system tacplus-server 10.23.130.5 single-connection
set system tacplus-server 10.23.130.5 source-address {{station_net_24_prefix_11}}.9
set system accounting events login
set system accounting events change-log
set system accounting events interactive-commands
set system accounting destination tacplus
set system login message "*****************************************************************\n* NOTICE  NOTICE            S T O P              NOTICE  NOTICE *\n*              THIS IS A PRIVATE NETWORK DEVICE.                *\n*      AUTHORIZATION IS REQUIRED TO CONNECT TO THIS DEVICE.     *\n* ACTUAL OR ATTEMPTED USE, ACCESS, EXAMINATION OR CONFIGURATION *\n* CHANGE BY ANY UNAUTHORIZED PERSON WILL RESULT IN CRIMINAL AND *\n*     CIVIL PROSECUTION TO THE FULLEST EXTENT OF THE LAW.       *\n*                  N    O    T    I    C    E                   *\n*****************************************************************"
set system login class super-user-local idle-timeout 15
set system login class super-user-local permissions all
set system login class super-user-remote idle-timeout 15
set system login class super-user-remote permissions all
set system login user FIELD_SYS uid 2004
set system login user FIELD_SYS class read-only
set system login user NET_ADMINS uid 2001
set system login user NET_ADMINS class super-user-remote
set system login user RO_NET uid 2005
set system login user RO_NET class read-only
set system login user netadm uid 2000
set system login user netadm class super-user-local
set system login user netadm authentication encrypted-password "$6$/4DeF4ti$L0OgzQmoYSQT7qHe52piVQY88MAfOzilDGRSihBO8cVYDyFgJ6Zl2ClB/WPDx.NC4Pch3QhBflCETCs1lH7Pq/"
set system services ssh protocol-version v2
set system services netconf ssh
set system syslog user * any emergency
set system syslog host 10.23.139.15 any any
set system syslog host 10.23.139.15 port 1528
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file messages security any
set system syslog file interactive-commands interactive-commands any
set system syslog source-address {{station_net_24_prefix_11}}.9
set system commit synchronize
set system ntp server 10.20.0.1
set system ntp server 10.30.0.1
set chassis redundancy graceful-switchover
set chassis aggregated-devices ethernet device-count 20
!
set interfaces ge-0/0/0 description {{sitecode}}-{{mdf_subloc}}-pdu-1
set interfaces ge-0/0/0 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/0 unit 0 family ethernet-switching vlan members 990
set interfaces ge-0/0/0 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/1 description {{sitecode}}-{{mdf_subloc}}-wr-1_Gi0/0/3
set interfaces ge-0/0/1 unit 0 family ethernet-switching interface-mode trunk
set interfaces ge-0/0/1 unit 0 family ethernet-switching vlan members 990-991
set interfaces ge-0/0/1 unit 0 family ethernet-switching vlan members 993-995
set interfaces ge-0/0/2 description Broadband-PHY/NetWolves-Support-800-676-8870
set interfaces ge-0/0/2 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/2 unit 0 family ethernet-switching vlan members 993
set interfaces ge-0/0/2 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/3 description {{sitecode}}-{{mdf_subloc}}-obm-1_Eth0
set interfaces ge-0/0/3 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/3 unit 0 family ethernet-switching vlan members 993
set interfaces ge-0/0/3 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/4 description iFlyAlaska-Inet-A_PHY/NetWolves-Support-800-676-8870
set interfaces ge-0/0/4 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/4 unit 0 family ethernet-switching vlan members 996
set interfaces ge-0/0/4 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/5 description {{sitecode}}-{{mdf_subloc}}-fw-1a_DedicatedMgmt
set interfaces ge-0/0/5 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/5 unit 0 family ethernet-switching vlan members 990
set interfaces ge-0/0/5 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/6 description "Common use PHY (RJ45)"
set interfaces ge-0/0/6 unit 0 family ethernet-switching vlan members 992
set interfaces ge-0/0/6 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/7 description {{sitecode}}-{{mdf_subloc}}-fw-1a-Mgmt
set interfaces ge-0/0/7 unit 0 family ethernet-switching vlan members 990
set interfaces ge-0/0/7 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/8 description "{{sitecode}}-{{mdf_subloc}}-fw-1a-Port1"
set interfaces ge-0/0/8 ether-options 802.3ad ae1
set interfaces ge-0/0/9 description "{{sitecode}}-{{mdf_subloc}}-fw-1b-Port1"
set interfaces ge-0/0/9 ether-options 802.3ad ae3
set interfaces ge-0/0/10 description "{{sitecode}}-{{mdf_subloc}}-fw-1a-Port3"
set interfaces ge-0/0/10 ether-options 802.3ad ae2
set interfaces ge-0/0/11 description "{{sitecode}}-{{mdf_subloc}}-fw-1b-Port3"
set interfaces ge-0/0/11 ether-options 802.3ad ae4
set interfaces ge-0/0/12 description "{{sitecode}} Station Server NIC A"
set interfaces ge-0/0/12 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/12 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/12 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/13 description "{{sitecode}} Station Server DRAC A"
set interfaces ge-0/0/13 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/13 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/13 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/14 description "{{sitecode}} Station Server NIC B?"
set interfaces ge-0/0/14 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/14 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/14 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/15 description NAC-Enabled-Ports
set interfaces ge-0/0/15 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/15 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/15 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/16 description NAC-Enabled-Ports
set interfaces ge-0/0/16 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/16 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/16 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/17 description NAC-Enabled-Ports
set interfaces ge-0/0/17 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/17 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/17 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/18 description NAC-Enabled-Ports
set interfaces ge-0/0/18 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/18 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/18 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/19 description NAC-Enabled-Ports
set interfaces ge-0/0/19 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/19 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/19 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/20 description NAC-Enabled-Ports
set interfaces ge-0/0/20 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/20 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/20 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/21 description NAC-Enabled-Ports
set interfaces ge-0/0/21 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/21 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/21 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/22 description NAC-Enabled-Ports
set interfaces ge-0/0/22 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/22 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/22 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/23 description NAC-Enabled-Ports
set interfaces ge-0/0/23 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/23 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/23 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/24 description NAC-Enabled-Ports
set interfaces ge-0/0/24 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/24 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/24 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/25 description NAC-Enabled-Ports
set interfaces ge-0/0/25 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/25 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/25 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/26 description NAC-Enabled-Ports
set interfaces ge-0/0/26 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/26 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/26 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/27 description NAC-Enabled-Ports
set interfaces ge-0/0/27 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/27 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/27 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/28 description NAC-Enabled-Ports
set interfaces ge-0/0/28 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/28 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/29 description NAC-Enabled-Ports
set interfaces ge-0/0/29 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/29 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/29 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/30 description NAC-Enabled-Ports
set interfaces ge-0/0/30 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/30 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/30 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/31 description NAC-Enabled-Ports
set interfaces ge-0/0/31 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/31 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/31 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/32 description NAC-Enabled-Ports
set interfaces ge-0/0/32 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/32 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/32 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/33 description NAC-Enabled-Ports
set interfaces ge-0/0/33 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/33 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/33 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/34 description NAC-Enabled-Ports
set interfaces ge-0/0/34 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/34 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/34 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/35 description NAC-Enabled-Ports
set interfaces ge-0/0/35 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/35 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/36 description NAC-Enabled-Ports
set interfaces ge-0/0/36 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/36 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/36 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/37 description NAC-Enabled-Ports
set interfaces ge-0/0/37 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/37 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/37 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/38 description NAC-Enabled-Ports
set interfaces ge-0/0/38 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/38 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/38 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/39 description NAC-Enabled-Ports
set interfaces ge-0/0/39 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/39 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/39 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/40 description NAC-Enabled-Ports
set interfaces ge-0/0/40 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/40 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/40 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/41 description NAC-Enabled-Ports
set interfaces ge-0/0/41 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/41 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/41 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/42 description NAC-Enabled-Ports
set interfaces ge-0/0/42 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/42 unit 0 family ethernet-switching vlan members 20
set interfaces ge-0/0/42 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/43 description NAC-Enabled-Ports
set interfaces ge-0/0/43 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/43 unit 0 family ethernet-switching vlan members Data
set interfaces ge-0/0/43 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/44 description NAC-Enabled-Ports
set interfaces ge-0/0/44 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/44 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/44 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/45 description NAC-Enabled-Ports
set interfaces ge-0/0/45 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/45 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/45 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/46 description NAC-Enabled-Ports
set interfaces ge-0/0/46 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/46 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/46 unit 0 family ethernet-switching storm-control default
set interfaces ge-0/0/47 description NAC-Enabled-Ports
set interfaces ge-0/0/47 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/47 unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/47 unit 0 family ethernet-switching storm-control default
set interfaces xe-0/2/0 description Disabled
set interfaces xe-0/2/0 disable
set interfaces xe-0/2/1 description Disabled
set interfaces xe-0/2/1 disable
set interfaces xe-0/2/2 description Disabled
set interfaces xe-0/2/2 disable
set interfaces xe-0/2/3 description Disabled
set interfaces xe-0/2/3 disable
!
set interfaces ge-1/0/0 description {{sitecode}}-{{mdf_subloc}}-pdu-2
set interfaces ge-1/0/0 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/0 unit 0 family ethernet-switching vlan members 990
set interfaces ge-1/0/0 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/1 description {{sitecode}}-{{mdf_subloc}}-wr-2_Gi5/0/3
set interfaces ge-1/0/1 unit 0 family ethernet-switching interface-mode trunk
set interfaces ge-1/0/1 unit 0 family ethernet-switching vlan members 990-991
set interfaces ge-1/0/1 unit 0 family ethernet-switching vlan members 993-995
set interfaces ge-1/0/2 description Broadband-PHY/NetWolves-Support-800-676-8870
set interfaces ge-1/0/2 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/2 unit 0 family ethernet-switching vlan members 993
set interfaces ge-1/0/2 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/3 description {{sitecode}}-{{mdf_subloc}}-obm-1_Eth1
set interfaces ge-1/0/3 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/3 unit 0 family ethernet-switching vlan members 990
set interfaces ge-1/0/3 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/4 description iFlyAlaska-Inet-A_PHY/NetWolves-Support-800-676-8870
set interfaces ge-1/0/4 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/4 unit 0 family ethernet-switching vlan members 996
set interfaces ge-1/0/4 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/5 description {{sitecode}}-{{mdf_subloc}}-fw-1b_DedicatedMgmt
set interfaces ge-1/0/5 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/5 unit 0 family ethernet-switching vlan members 990
set interfaces ge-1/0/5 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/6 description "Common Use PHY (RJ45)"
set interfaces ge-1/0/6 unit 0 family ethernet-switching vlan members 992
set interfaces ge-1/0/6 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/7 description {{sitecode}}-{{mdf_subloc}}-fw-1b-Mgmt
set interfaces ge-1/0/7 unit 0 family ethernet-switching vlan members 990
set interfaces ge-1/0/7 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/8 description "{{sitecode}}-{{mdf_subloc}}-fw-1a-Port2"
set interfaces ge-1/0/8 ether-options 802.3ad ae1
set interfaces ge-1/0/9 description "{{sitecode}}-{{mdf_subloc}}-fw-1b-Port2"
set interfaces ge-1/0/9 ether-options 802.3ad ae3
set interfaces ge-1/0/10 description "{{sitecode}}-{{mdf_subloc}}-fw-1a-Port4"
set interfaces ge-1/0/10 ether-options 802.3ad ae2
set interfaces ge-1/0/11 description "{{sitecode}}-{{mdf_subloc}}-fw-1b-Port4"
set interfaces ge-1/0/11 ether-options 802.3ad ae4
set interfaces ge-1/0/12 description "{{sitecode}} Station Server NIC A"
set interfaces ge-1/0/12 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/12 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/13 description "{{sitecode}} Station Server DRAC B"
set interfaces ge-1/0/13 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/13 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/13 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/14 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/14 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/14 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/15 description NAC-Enabled-Ports
set interfaces ge-1/0/15 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/15 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/15 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/16 description NAC-Enabled-Ports
set interfaces ge-1/0/16 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/16 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/16 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/17 description NAC-Enabled-Ports
set interfaces ge-1/0/17 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/17 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/17 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/18 description NAC-Enabled-Ports
set interfaces ge-1/0/18 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/18 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/18 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/19 description NAC-Enabled-Ports
set interfaces ge-1/0/19 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/19 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/19 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/20 description NAC-Enabled-Ports
set interfaces ge-1/0/20 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/20 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/20 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/21 description NAC-Enabled-Ports
set interfaces ge-1/0/21 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/21 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/21 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/22 description NAC-Enabled-Ports
set interfaces ge-1/0/22 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/22 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/22 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/23 description NAC-Enabled-Ports
set interfaces ge-1/0/23 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/23 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/23 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/24 description NAC-Enabled-Ports
set interfaces ge-1/0/24 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/24 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/24 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/25 description NAC-Enabled-Ports
set interfaces ge-1/0/25 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/25 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/25 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/26 description NAC-Enabled-Ports
set interfaces ge-1/0/26 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/26 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/26 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/27 description NAC-Enabled-Ports
set interfaces ge-1/0/27 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/27 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/27 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/28 description NAC-Enabled-Ports
set interfaces ge-1/0/28 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/28 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/28 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/29 description NAC-Enabled-Ports
set interfaces ge-1/0/29 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/29 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/29 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/30 description NAC-Enabled-Ports
set interfaces ge-1/0/30 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/30 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/30 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/31 description NAC-Enabled-Ports
set interfaces ge-1/0/31 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/31 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/31 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/32 description NAC-Enabled-Ports
set interfaces ge-1/0/32 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/32 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/32 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/33 description NAC-Enabled-Ports
set interfaces ge-1/0/33 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/33 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/33 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/34 description NAC-Enabled-Ports
set interfaces ge-1/0/34 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/34 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/34 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/35 description NAC-Enabled-Ports
set interfaces ge-1/0/35 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/35 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/36 description NAC-Enabled-Ports
set interfaces ge-1/0/36 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/36 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/36 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/37 description NAC-Enabled-Ports
set interfaces ge-1/0/37 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/37 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/37 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/38 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/39 description NAC-Enabled-Ports
set interfaces ge-1/0/39 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/39 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/39 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/40 description NAC-Enabled-Ports
set interfaces ge-1/0/40 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/40 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/40 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/41 description NAC-Enabled-Ports
set interfaces ge-1/0/41 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/41 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/41 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/42 description NAC-Enabled-Ports
set interfaces ge-1/0/42 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/42 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/42 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/43 description NAC-Enabled-Ports
set interfaces ge-1/0/43 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/43 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/43 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/44 description NAC-Enabled-Ports
set interfaces ge-1/0/44 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/44 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/44 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/45 description NAC-Enabled-Ports
set interfaces ge-1/0/45 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/45 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/45 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/46 description NAC-Enabled-Ports
set interfaces ge-1/0/46 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/46 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/46 unit 0 family ethernet-switching storm-control default
set interfaces ge-1/0/47 description NAC-Enabled-Ports
set interfaces ge-1/0/47 unit 0 family ethernet-switching interface-mode access
set interfaces ge-1/0/47 unit 0 family ethernet-switching vlan members 10
set interfaces ge-1/0/47 unit 0 family ethernet-switching storm-control default
!
set interfaces ae1 description "{{sitecode}}-{{mdf_subloc}}-fw-1a inner-lag"
set interfaces ae1 aggregated-ether-options lacp active
set interfaces ae1 unit 0 family ethernet-switching interface-mode trunk
set interfaces ae1 unit 0 family ethernet-switching vlan members 10
set interfaces ae1 unit 0 family ethernet-switching vlan members 20
set interfaces ae1 unit 0 family ethernet-switching vlan members 30-33
set interfaces ae1 unit 0 family ethernet-switching vlan members 50
set interfaces ae1 unit 0 family ethernet-switching vlan members 60
set interfaces ae1 unit 0 family ethernet-switching vlan members 991
set interfaces ae2 description "{{sitecode}}-{{mdf_subloc}}-fw-1a outer-lag"
set interfaces ae2 aggregated-ether-options lacp active
set interfaces ae2 unit 0 family ethernet-switching interface-mode trunk
set interfaces ae2 unit 0 family ethernet-switching vlan members 33
set interfaces ae2 unit 0 family ethernet-switching vlan members 50
set interfaces ae2 unit 0 family ethernet-switching vlan members 60
set interfaces ae2 unit 0 family ethernet-switching vlan members 991
set interfaces ae2 unit 0 family ethernet-switching vlan members 995
set interfaces ae3 description "{{sitecode}}-{{mdf_subloc}}-fw-1b inner-lag"
set interfaces ae3 aggregated-ether-options lacp active
set interfaces ae3 unit 0 family ethernet-switching interface-mode trunk
set interfaces ae3 unit 0 family ethernet-switching vlan members 10
set interfaces ae3 unit 0 family ethernet-switching vlan members 20
set interfaces ae3 unit 0 family ethernet-switching vlan members 30-33
set interfaces ae3 unit 0 family ethernet-switching vlan members 50
set interfaces ae3 unit 0 family ethernet-switching vlan members 60
set interfaces ae3 unit 0 family ethernet-switching vlan members 991
set interfaces ae4 description "{{sitecode}}-{{mdf_subloc}}-fw-1b outer-lag"
set interfaces ae4 aggregated-ether-options lacp active
set interfaces ae4 unit 0 family ethernet-switching interface-mode trunk
set interfaces ae4 unit 0 family ethernet-switching vlan members 33
set interfaces ae4 unit 0 family ethernet-switching vlan members 50
set interfaces ae4 unit 0 family ethernet-switching vlan members 60
set interfaces ae4 unit 0 family ethernet-switching vlan members 991
set interfaces ae4 unit 0 family ethernet-switching vlan members 995
set interfaces ae5 description Broadband-LAG
set interfaces ae5 aggregated-ether-options lacp active
set interfaces ae5 unit 0 family ethernet-switching interface-mode trunk
set interfaces ae5 unit 0 family ethernet-switching vlan members 993
set interfaces ae10 description "Common use LAG"
set interfaces ae10 aggregated-ether-options lacp active
set interfaces ae10 unit 0 family ethernet-switching vlan members 992
set interfaces ae12 description "{{sitecode}}-{{as1_subloc}}-as-1"
set interfaces ae12 aggregated-ether-options lacp active
set interfaces ae12 unit 0 family ethernet-switching interface-mode trunk
set interfaces ae12 unit 0 family ethernet-switching vlan members 10
set interfaces ae12 unit 0 family ethernet-switching vlan members 20
set interfaces ae12 unit 0 family ethernet-switching vlan members 30-33
set interfaces ae12 unit 0 family ethernet-switching vlan members 50
set interfaces ae12 unit 0 family ethernet-switching vlan members 60
set interfaces ae12 unit 0 family ethernet-switching vlan members 990
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae13 description "{{sitecode}}-{{as2_subloc}}-as-2"
set interfaces ae14 description "{{sitecode}}-{{as3_subloc}}-as-3"
set interfaces ae14 aggregated-ether-options lacp active
set interfaces ae14 unit 0 family ethernet-switching interface-mode trunk
set interfaces ae14 unit 0 family ethernet-switching vlan members 10
set interfaces ae14 unit 0 family ethernet-switching vlan members 20
set interfaces ae14 unit 0 family ethernet-switching vlan members 30-33
set interfaces ae14 unit 0 family ethernet-switching vlan members 50
set interfaces ae14 unit 0 family ethernet-switching vlan members 60
set interfaces ae14 unit 0 family ethernet-switching vlan members 990
!
set interfaces irb unit 0 family inet
set interfaces irb unit 990 family inet address {{station_net_24_prefix_11}}.9/25
set interfaces lo0 unit 0 family inet
deactivate interfaces lo0
!
set snmp location "{{snmplocation}}"
set snmp contact Network-Operations-Center
set snmp community "N3tM0n!T0r!nG" authorization read-only
set snmp community "N3tM0n!T0r!nG" client-list-name snmp_allowed
set snmp community n3tw0rk1 authorization read-only
set snmp community n3tw0rk1 client-list-name snmp_allowed
set snmp community network authorization read-only
set snmp community network client-list-name snmp_allowed
set snmp community AG153psn authorization read-only
set snmp community AG153psn client-list-name snmp_allowed
set snmp trap-options source-address {{station_net_24_prefix_11}}.9
set snmp trap-group "N3tM0n!T0r!nG" version v2
set snmp trap-group "N3tM0n!T0r!nG" categories authentication
set snmp trap-group "N3tM0n!T0r!nG" categories link
set snmp trap-group "N3tM0n!T0r!nG" targets 10.23.130.30
set snmp trap-group "N3tM0n!T0r!nG" targets 10.23.130.33
set snmp trap-group "N3tM0n!T0r!nG" targets 10.23.130.55
set snmp trap-group "N3tM0n!T0r!nG" targets 10.33.130.33
set snmp trap-group "N3tM0n!T0r!nG" targets 10.33.130.30
set snmp trap-group "N3tM0n!T0r!nG" targets 10.33.130.55
set forwarding-options storm-control-profiles default all
set routing-options static route 0.0.0.0/0 next-hop {{station_net_24_prefix_11}}.1
set protocols lldp interface all
set protocols lldp-med interface all
!
set protocols rstp bridge-priority 4k
!
set protocols rstp interface ge-0/0/0 edge
set protocols rstp interface ge-0/0/1
set protocols rstp interface ge-0/0/2 edge
set protocols rstp interface ge-0/0/3 edge
set protocols rstp interface ge-0/0/4 edge
set protocols rstp interface ge-0/0/5 edge
set protocols rstp interface ge-0/0/6
set protocols rstp interface ge-0/0/7 edge
set protocols rstp interface ge-0/0/12 edge
set protocols rstp interface ge-0/0/13 edge
set protocols rstp interface ge-0/0/14 edge
set protocols rstp interface ge-0/0/15 edge
set protocols rstp interface ge-0/0/16 edge
set protocols rstp interface ge-0/0/17 edge
set protocols rstp interface ge-0/0/18 edge
set protocols rstp interface ge-0/0/19 edge
set protocols rstp interface ge-0/0/20 edge
set protocols rstp interface ge-0/0/21 edge
set protocols rstp interface ge-0/0/22 edge
set protocols rstp interface ge-0/0/23 edge
set protocols rstp interface ge-0/0/24 edge
set protocols rstp interface ge-0/0/25 edge
set protocols rstp interface ge-0/0/26 edge
set protocols rstp interface ge-0/0/27 edge
set protocols rstp interface ge-0/0/28 edge
set protocols rstp interface ge-0/0/29 edge
set protocols rstp interface ge-0/0/30 edge
set protocols rstp interface ge-0/0/31 edge
set protocols rstp interface ge-0/0/32 edge
set protocols rstp interface ge-0/0/33 edge
set protocols rstp interface ge-0/0/34 edge
set protocols rstp interface ge-0/0/35 edge
set protocols rstp interface ge-0/0/36 edge
set protocols rstp interface ge-0/0/37 edge
set protocols rstp interface ge-0/0/38 edge
set protocols rstp interface ge-0/0/39 edge
set protocols rstp interface ge-0/0/40 edge
set protocols rstp interface ge-0/0/41 edge
set protocols rstp interface ge-0/0/42 edge
set protocols rstp interface ge-0/0/43 edge
set protocols rstp interface ge-0/0/44 edge
set protocols rstp interface ge-0/0/45 edge
!
set protocols rstp interface ge-1/0/0 edge
set protocols rstp interface ge-1/0/1
set protocols rstp interface ge-1/0/2 edge
set protocols rstp interface ge-1/0/3 edge
set protocols rstp interface ge-1/0/4 edge
set protocols rstp interface ge-1/0/5 edge
set protocols rstp interface ge-1/0/6
set protocols rstp interface ge-1/0/7 edge
set protocols rstp interface ge-1/0/12 edge
set protocols rstp interface ge-1/0/13 edge
set protocols rstp interface ge-1/0/14 edge
set protocols rstp interface ge-1/0/15 edge
set protocols rstp interface ge-1/0/16 edge
set protocols rstp interface ge-1/0/17 edge
set protocols rstp interface ge-1/0/18 edge
set protocols rstp interface ge-1/0/19 edge
set protocols rstp interface ge-1/0/20 edge
set protocols rstp interface ge-1/0/21 edge
set protocols rstp interface ge-1/0/22 edge
set protocols rstp interface ge-1/0/23 edge
set protocols rstp interface ge-1/0/24 edge
set protocols rstp interface ge-1/0/25 edge
set protocols rstp interface ge-1/0/26 edge
set protocols rstp interface ge-1/0/27 edge
set protocols rstp interface ge-1/0/28 edge
set protocols rstp interface ge-1/0/29 edge
set protocols rstp interface ge-1/0/30 edge
set protocols rstp interface ge-1/0/31 edge
set protocols rstp interface ge-1/0/32 edge
set protocols rstp interface ge-1/0/33 edge
set protocols rstp interface ge-1/0/34 edge
set protocols rstp interface ge-1/0/35 edge
set protocols rstp interface ge-1/0/36 edge
set protocols rstp interface ge-1/0/37 edge
set protocols rstp interface ge-1/0/39 edge
set protocols rstp interface ge-1/0/40 edge
set protocols rstp interface ge-1/0/41 edge
set protocols rstp interface ge-1/0/42 edge
set protocols rstp interface ge-1/0/43 edge
set protocols rstp interface ge-1/0/44 edge
set protocols rstp interface ge-1/0/45 edge
set protocols rstp interface ge-1/0/46 edge
set protocols rstp interface ge-1/0/47 edge
!
set protocols rstp interface ae1
set protocols rstp interface ae2
set protocols rstp interface ae3
set protocols rstp interface ae4
set protocols rstp interface ae5
set protocols rstp interface ae10
set protocols rstp interface ae12
set protocols rstp interface ae13
set protocols rstp interface ae14
!
set policy-options prefix-list snmp_allowed 10.23.130.0/24
set policy-options prefix-list snmp_allowed 10.33.130.0/24
set policy-options prefix-list snmp_allowed 10.70.112.124/32
set policy-options prefix-list snmp_allowed 10.70.112.135/32
set policy-options prefix-list snmp_allowed 159.49.42.34/32
set policy-options prefix-list snmp_allowed 159.49.42.77/32
set policy-options prefix-list snmp_allowed 159.49.42.90/32
set policy-options prefix-list snmp_allowed 159.49.42.91/32
set policy-options prefix-list snmp_allowed 159.49.153.0/24
!
set switch-options voip interface ge-0/0/15.0 vlan 20
set switch-options voip interface ge-0/0/16.0 vlan 20
set switch-options voip interface ge-0/0/17.0 vlan 20
set switch-options voip interface ge-0/0/18.0 vlan 20
set switch-options voip interface ge-0/0/19.0 vlan 20
set switch-options voip interface ge-0/0/20.0 vlan 20
set switch-options voip interface ge-0/0/21.0 vlan 20
set switch-options voip interface ge-0/0/22.0 vlan 20
set switch-options voip interface ge-0/0/23.0 vlan 20
set switch-options voip interface ge-0/0/24.0 vlan 20
set switch-options voip interface ge-0/0/25.0 vlan 20
set switch-options voip interface ge-0/0/26.0 vlan 20
set switch-options voip interface ge-0/0/27.0 vlan 20
set switch-options voip interface ge-0/0/29.0 vlan 20
set switch-options voip interface ge-0/0/30.0 vlan 20
set switch-options voip interface ge-0/0/31.0 vlan 20
set switch-options voip interface ge-0/0/32.0 vlan 20
set switch-options voip interface ge-0/0/33.0 vlan 20
set switch-options voip interface ge-0/0/34.0 vlan 20
set switch-options voip interface ge-0/0/35.0 vlan 20
set switch-options voip interface ge-0/0/36.0 vlan 20
set switch-options voip interface ge-0/0/37.0 vlan 20
set switch-options voip interface ge-0/0/38.0 vlan 20
set switch-options voip interface ge-0/0/39.0 vlan 20
set switch-options voip interface ge-0/0/40.0 vlan 20
set switch-options voip interface ge-0/0/41.0 vlan 20
set switch-options voip interface ge-0/0/43.0 vlan 20
set switch-options voip interface ge-0/0/44.0 vlan 20
set switch-options voip interface ge-0/0/45.0 vlan 20
!
set switch-options voip interface ge-1/0/16.0 vlan 20
set switch-options voip interface ge-1/0/17.0 vlan 20
set switch-options voip interface ge-1/0/18.0 vlan 20
set switch-options voip interface ge-1/0/19.0 vlan 20
set switch-options voip interface ge-1/0/20.0 vlan 20
set switch-options voip interface ge-1/0/21.0 vlan 20
set switch-options voip interface ge-1/0/22.0 vlan 20
set switch-options voip interface ge-1/0/23.0 vlan 20
set switch-options voip interface ge-1/0/24.0 vlan 20
set switch-options voip interface ge-1/0/25.0 vlan 20
set switch-options voip interface ge-1/0/26.0 vlan 20
set switch-options voip interface ge-1/0/27.0 vlan 20
set switch-options voip interface ge-1/0/28.0 vlan 20
set switch-options voip interface ge-1/0/29.0 vlan 20
set switch-options voip interface ge-1/0/30.0 vlan 20
set switch-options voip interface ge-1/0/31.0 vlan 20
set switch-options voip interface ge-1/0/32.0 vlan 20
set switch-options voip interface ge-1/0/33.0 vlan 20
set switch-options voip interface ge-1/0/34.0 vlan 20
set switch-options voip interface ge-1/0/35.0 vlan 20
set switch-options voip interface ge-1/0/36.0 vlan 20
set switch-options voip interface ge-1/0/37.0 vlan 20
set switch-options voip interface ge-1/0/39.0 vlan 20
set switch-options voip interface ge-1/0/40.0 vlan 20
set switch-options voip interface ge-1/0/41.0 vlan 20
set switch-options voip interface ge-1/0/42.0 vlan 20
set switch-options voip interface ge-1/0/43.0 vlan 20
set switch-options voip interface ge-1/0/44.0 vlan 20
set switch-options voip interface ge-1/0/45.0 vlan 20
set switch-options voip interface ge-1/0/46.0 vlan 20
set switch-options voip interface ge-1/0/47.0 vlan 20
!
set switch-options interface ge-0/0/24.0 interface-mac-limit 3
set switch-options interface ge-0/0/24.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/25.0 interface-mac-limit 3
set switch-options interface ge-0/0/25.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/26.0 interface-mac-limit 3
set switch-options interface ge-0/0/26.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/27.0 interface-mac-limit 3
set switch-options interface ge-0/0/27.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/28.0 interface-mac-limit 3
set switch-options interface ge-0/0/28.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/29.0 interface-mac-limit 3
set switch-options interface ge-0/0/29.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/30.0 interface-mac-limit 3
set switch-options interface ge-0/0/30.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/31.0 interface-mac-limit 3
set switch-options interface ge-0/0/31.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/32.0 interface-mac-limit 3
set switch-options interface ge-0/0/32.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/33.0 interface-mac-limit 3
set switch-options interface ge-0/0/33.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/34.0 interface-mac-limit 3
set switch-options interface ge-0/0/34.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/35.0 interface-mac-limit 3
set switch-options interface ge-0/0/35.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/36.0 interface-mac-limit 3
set switch-options interface ge-0/0/36.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/37.0 interface-mac-limit 3
set switch-options interface ge-0/0/37.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/38.0 interface-mac-limit 3
set switch-options interface ge-0/0/38.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/39.0 interface-mac-limit 3
set switch-options interface ge-0/0/39.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/40.0 interface-mac-limit 3
set switch-options interface ge-0/0/40.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/41.0 interface-mac-limit 3
set switch-options interface ge-0/0/41.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/42.0 interface-mac-limit 3
set switch-options interface ge-0/0/42.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/43.0 interface-mac-limit 3
set switch-options interface ge-0/0/43.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/44.0 interface-mac-limit 3
set switch-options interface ge-0/0/44.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/45.0 interface-mac-limit 3
set switch-options interface ge-0/0/45.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/17.0 interface-mac-limit 3
set switch-options interface ge-0/0/17.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/18.0 interface-mac-limit 3
set switch-options interface ge-0/0/18.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/19.0 interface-mac-limit 3
set switch-options interface ge-0/0/19.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/20.0 interface-mac-limit 3
set switch-options interface ge-0/0/20.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/21.0 interface-mac-limit 3
set switch-options interface ge-0/0/21.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/22.0 interface-mac-limit 3
set switch-options interface ge-0/0/22.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/23.0 interface-mac-limit 3
set switch-options interface ge-0/0/23.0 interface-mac-limit packet-action drop
set switch-options interface ge-0/0/16.0 interface-mac-limit 3
set switch-options interface ge-0/0/16.0 interface-mac-limit packet-action drop
!
set switch-options interface ge-1/0/16.0 interface-mac-limit 3
set switch-options interface ge-1/0/16.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/17.0 interface-mac-limit 3
set switch-options interface ge-1/0/17.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/18.0 interface-mac-limit 3
set switch-options interface ge-1/0/18.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/19.0 interface-mac-limit 3
set switch-options interface ge-1/0/19.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/20.0 interface-mac-limit 3
set switch-options interface ge-1/0/20.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/21.0 interface-mac-limit 3
set switch-options interface ge-1/0/21.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/22.0 interface-mac-limit 3
set switch-options interface ge-1/0/22.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/23.0 interface-mac-limit 3
set switch-options interface ge-1/0/23.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/24.0 interface-mac-limit 3
set switch-options interface ge-1/0/24.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/25.0 interface-mac-limit 3
set switch-options interface ge-1/0/25.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/26.0 interface-mac-limit 3
set switch-options interface ge-1/0/26.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/27.0 interface-mac-limit 3
set switch-options interface ge-1/0/27.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/28.0 interface-mac-limit 3
set switch-options interface ge-1/0/28.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/29.0 interface-mac-limit 3
set switch-options interface ge-1/0/29.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/30.0 interface-mac-limit 3
set switch-options interface ge-1/0/30.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/31.0 interface-mac-limit 3
set switch-options interface ge-1/0/31.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/32.0 interface-mac-limit 3
set switch-options interface ge-1/0/32.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/33.0 interface-mac-limit 3
set switch-options interface ge-1/0/33.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/34.0 interface-mac-limit 3
set switch-options interface ge-1/0/34.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/35.0 interface-mac-limit 3
set switch-options interface ge-1/0/35.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/36.0 interface-mac-limit 3
set switch-options interface ge-1/0/36.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/37.0 interface-mac-limit 3
set switch-options interface ge-1/0/37.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/39.0 interface-mac-limit 3
set switch-options interface ge-1/0/39.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/40.0 interface-mac-limit 3
set switch-options interface ge-1/0/40.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/41.0 interface-mac-limit 3
set switch-options interface ge-1/0/41.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/42.0 interface-mac-limit 3
set switch-options interface ge-1/0/42.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/43.0 interface-mac-limit 3
set switch-options interface ge-1/0/43.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/44.0 interface-mac-limit 3
set switch-options interface ge-1/0/44.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/45.0 interface-mac-limit 3
set switch-options interface ge-1/0/45.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/46.0 interface-mac-limit 3
set switch-options interface ge-1/0/46.0 interface-mac-limit packet-action drop
set switch-options interface ge-1/0/47.0 interface-mac-limit 3
set switch-options interface ge-1/0/47.0 interface-mac-limit packet-action drop
!
set poe interface all
set virtual-chassis no-split-detection
set virtual-chassis member 0 mastership-priority 255
set virtual-chassis member 1 mastership-priority 20
set vlans Broadband vlan-id 993
set vlans Common-Use vlan-id 992
set vlans DX-Transit vlan-id 995
set vlans Data vlan-id 10
set vlans Disabled vlan-id 999
set vlans Kiosk vlan-id 50
set vlans MSR vlan-id 60
set vlans Network-Mgmt vlan-id 990
set vlans Network-Mgmt l3-interface irb.990
set vlans Network-Transit vlan-id 991
set vlans Voice vlan-id 20
set vlans Wireless-AGMobile vlan-id 30
set vlans Wireless-Airgroup vlan-id 31
set vlans Wireless-IAmAlaska vlan-id 32
set vlans default vlan-id 1






Normal NAC interface config

set interfaces ge-0/0/X description NAC-Enabled-Ports
set interfaces ge-0/0/X unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/X unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/x unit 0 family ethernet-switching storm-control default
set protocols rstp interface ge-0/0/X edge
set switch-options voip interface ge-0/0/X.0 vlan 20
set switch-options interface ge-0/0/X.0 interface-mac-limit 3
set switch-options interface ge-0/0/X.0 interface-mac-limit packet-action drop





Access Point interface
set interfaces ge-0/0/X description  {{sitecode}}-AP
set interfaces ge-0/0/X native-vlan-id 10
set interfaces ge-0/0/X unit 0 family ethernet-switching interface-mode trunk
set interfaces ge-0/0/X unit 0 family ethernet-switching vlan members 10
set interfaces ge-0/0/X unit 0 family ethernet-switching vlan members 30-32
set protocols rstp interface ge-0/0/X

